<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link href="/static/favicon.ico" rel="icon" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>#{title}</title>

<link href="/static/Bootstrap_login/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/Bootstrap_login/css/signin.css" rel="stylesheet">

</head>

<body>

<div class="signin">
	<div class="signin-head"><img src="/static/Bootstrap_login/images/test/head_120.png" alt="" class="img-circle"></div>
	<form class="form-signin" role="form" method="post" action="">
		<fieldset>
			<input type="text" name="username" class="form-control" placeholder="用户名" required autofocus />
			<input type="password" name="password" class="form-control" placeholder="密码" required />
			<button class="btn btn-lg btn-warning btn-block" type="submit">登录</button>
		</fieldset>
		#{xsrf_form_html()}
	</form>
</div>

<div style="text-align:center;">
</div>
</body>
</html>
